.formEsqueciSenha .labelEmail {
  display: flex;
  align-items: flex-start;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 0 -2em 0.2em 0.2em;
  box-sizing: border-box;
}
.formEsqueciSenha button {
  width: 243px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-top: 2em;
  background:rgba(218, 1, 117, 0.35);
  outline: none;
  text-decoration: none;
}
.formEsqueciSenha .esqueciConteudo {
  width: min(90em, 100%);
  height: 11em;
  color: #4c4c4c;
  font-weight: 400;
  font-family: Montserrat;
  font-size: 14px;
  justify-content: center;
  text-align: justify;
}
.formEsqueciSenha ::placeholder {
  opacity: 0.5;
}
.formEsqueciSenha .form {
  margin-right: 8em;
}

