
.formEsqueciSenha .labelEmail {
  display: flex;
  align-items: flex-start;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 2em -2em 0.2em 0.2em ;
  box-sizing: border-box;
}
.formEsqueciSenha button {
  display: flex;
  justify-content: center;
  margin-left: 6em;
  background-color: #DA0175;
  outline: none;
  text-decoration: none;
}
.formEsqueciSenha .login{

}
.formEsqueciSenha .esqueciConteudo {
  width: 22em;
  height: 10em;
  color: #4c4c4c;
	margin: 3em 0.4em 0.5em 0em;
  font-weight: 400;

  font-family: Montserrat;
  font-size: 14px;
  justify-content: center;
  text-align: justify;
}
.formEsqueciSenha ::placeholder{
	opacity: 0.5;
}
